<p data-role='description'>This is the best todo app ever, Julie</p>

<%= form_for :session, url: sessions_path do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.submit 'Sign In' %>
<% end %>
