<p data-role='description'>This is a todo app</p>

<%= form_for :session, url: session_path do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.submit 'Sign in' %>
<% end %>
