<p data-role='description'>This is my todo app!</p>

<%= form_for :session, url: session_path do |form| %>
  <%= form.label :email_address %>
  <%= form.text_field :email_address %>
  <%= form.submit 'Sign in' %>
<% end %>
