<ul class='todos'>
  <% @todos.each do |todo| %>
    <li class='<%= 'completed' if todo.completed? %>'>
      <%= todo.title %>
      <%= link_to 'Complete', todo_completion_path(todo), method: :post %>
    </li>
  <% end %>
</ul>
<%= link_to 'Create a Todo', new_todo_path, rel: 'create-todo' %>
