<%= link_to 'Create a Todo', new_todo_path %>

<ul class='todos'>
  <% @todos.each do |todo| %>
    <li data-id='<%= todo.id %>' class="<%= 'complete' if todo.completed? %>">
      <%= todo.title %>
      <input type='checkbox' />
    </li>
  <% end %>
</ul>
